setuptools==70.0.0
packaging
opencv-python-headless
open-clip-torch==2.24.0
streamlit
metafunctions
sentence-transformers
vdms
tzlocal
dateparser
decord
einops
omegaconf
pytorchvideo
torch
torchaudio
torchvision
webdataset
faiss-cpu
